[submodule "libft"]
	path = libft
	url = https://github.com/ramos21rodrigo/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/ramos21rodrigo/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/ramos21rodrigo/get_next_line.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/ramos21rodrigo/minitalk.git
